<div>
  <app-tag-list [tags]="post.tags"></app-tag-list>
</div>
<hr />
<div class="post-container">
  <div class="voteArea">
    <app-vote-post [post]="post"></app-vote-post>
  </div>
  <div class="postArea">
    {{ post.text }}
  </div>
</div>
<hr />
<!-- <div>
  <app-vote-post [post]="post"></app-vote-post>
</div> -->

<div class="timestamp">
Posted At:
  <!-- <span>
    {{ post.timestamp | date }}
  </span>
  <span>
    {{ post.timestamp | date: 'h:mm a z' }}
  </span> -->
</div>
<div *ngIf="showReplies">
  <app-reply [PostId]="post.postId"></app-reply>
</div>
