.timestamp {
  text-align: right;
  span {
    font-size: 12px;
    font-style: italic;
    // font-weight: bold;
  }
}

.voteArea {
  width: 5;
  flex: 0 0 auto;
}

.postArea {
  width: 90%;
  flex: 0 0 auto;
}

.post-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
