<div class="wrapper container">
  <div [@slideInOut]="animationState" class="slideOver">
    <mat-card class="item">
      <app-submit-new-post (Cancel)="cancelNew()"></app-submit-new-post>
    </mat-card>
  </div>

  <mat-card *ngIf="posts.length === 0">
    Nuthin here yet
  </mat-card>
  <ng-template ngFor let-post [ngForOf]="posts" let-i="index">
    <mat-card class="item" *ngIf="AddPostOpen">
      <app-list-detail [post]="post" [showReplies]="false"></app-list-detail>
      <a [routerLink]="['post', post.postId]">View Post</a>
    </mat-card>
  </ng-template>
</div>
