<div class="wrapper container" [formGroup]="postForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Submit A New Post</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        You can submit a post anonymouly! Once a post is submitted it is visible. You cannot edit or delete it unless
        you create an account.
      </p>
      <mat-form-field class="fullWidth">
        <mat-label>Post</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" rows="3" formControlName="text"></textarea>
      </mat-form-field>
      <label>Tags: </label>
      <span *ngIf="postForm?.controls['text'].value === ''">None</span>
      <app-tag-list [postText]="postForm.controls['text'].value"></app-tag-list>
    </mat-card-content>

  </mat-card>
  <button mat-raised-button color="accent" type="submit" class="submitBtn" [disabled]="!postForm.valid" (click)="submitPost()">Submit</button>
  <button mat-raised-button color="primary" type="button">Cancel</button>
</div>
<!-- <pre>{{postForm.value | json}}</pre> -->
