<div class="wrapper container">
  <mat-card>
    <mat-card-header>
      <!-- <div mat-card-avatar></div> -->
      <mat-card-title>Submit A New Post</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        You can submit a post anonymouly! Once a post is submitted it is visible. You cannot edit or delete it unless
        you create an account.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Submit</button>
      <button mat-button>Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>